.sec_body { color:#404040;background:#EBEBEB;text-shadow:#ddd 0 1px 0px;font-family:Helvetica;line-height:1.5;font-size:small; }
.center_father {color:#404040;text-align: center;}
.center_son { margin-right: auto; margin-left: auto; }